In [1]:
print("hello")

hello

In [2]:
"hello,welcome to MIZORAM UNIVERSITY"

'hello,welcome to MIZORAM UNIVERSITY'

In [7]:
print("hello")
print("welcome to FDP \non AI")
print("\n")
print("i am sakshi kapse")

hello
welcome to FDP
on AI


i am sakshi kapse

In [12]:
str="sakshi"
print(len(str))

6

In [14]:
str[0]
str[5]

'i'

In [15]:
str[1:]

'akshi'

In [16]:
str[2:]

'kshi'

In [17]:
str[:4]

'saks'

In [18]:
str[:]

'sakshi'

In [24]:
str=str +',i am srushti'

In [26]:
str.upper()

'SAKSHI,I AM SRUSHTI,I AM SRUSHTI'

In [21]:
str.lower()

'sakshi'

In [25]:
str.split()

['sakshi,i', 'am', 'srushti,i', 'am', 'srushti']

In [27]:
print('enter name here {} then also {}' .format('Abdul','Aziz'))

enter name here Abdul then also Aziz

In [30]:
print('the colours are {2} {1} {0}' .format('red','brown','black'))

the colours are black brown red

In [32]:
print('first object : {a},second object :{b},third object :{c}'.format(a=1,b='two',c='three'))

first object : 1,second object :two,third object :three

In [33]:
#List
my_list=[1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [50]:
my_list=['educat',3,10.2,'A',32,3]
my_list

['educat', 3, 10.2, 'A', 32, 3]

In [51]:
len(my_list)

6

In [52]:
my_list[0]

'educat'

In [53]:
my_list[1:]

[3, 10.2, 'A', 32, 3]

In [54]:
my_list + ['new item']

['educat', 3, 10.2, 'A', 32, 3, 'new item']

In [55]:
my_list

['educat', 3, 10.2, 'A', 32, 3]

In [56]:
my_list=my_list + ['add new item for list']
my_list

['educat', 3, 10.2, 'A', 32, 3, 'add new item for list']

In [58]:
my_list.append('append')
my_list

['educat', 3, 10.2, 'A', 32, 3, 'add new item for list', 'append', 'append']

In [59]:
my_list.pop() # delete last element of list

'append'

In [60]:
my_list.pop(0) #delete by adding idex in pop method

'educat'

In [62]:
my_list

[3, 10.2, 'A', 32, 3, 'add new item for list', 'append']

In [64]:
#dictocnary
Dict={'key1':'value1','key2':'value2','key3':'value3'}
Dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [65]:
my_dict={'key1':123, 'key2':[1,2,3],'key3':['edu','net']}
my_dict

{'key1': 123, 'key2': [1, 2, 3], 'key3': ['edu', 'net']}

In [67]:
my_dict['key2'][2]

3

In [68]:
my_dict['key3'][0].upper()

'EDU'

In [70]:
my_dict['key1']=my_dict['key1']+123
my_list

[3, 10.2, 'A', 32, 3, 'add new item for list', 'append']

In [74]:
tuple=(1,2,3,5,'sdsj')
tuple

(1, 2, 3, 5, 'sdsj')

In [75]:
len(tuple)

5

In [76]:
tuple[-1] #slicing just like list

'sdsj'

In [77]:
{1,2,3,4}

{1, 2, 3, 4}

In [78]:
type({1,3,5,64})

set

In [79]:
Set=set() #sorted

In [80]:
Set.add(9)
Set.add(8)
Set.add(6)
Set

{6, 8, 9}

In [81]:
#if,ilif,else
if True:
    print("Yes!It was true")

Yes!It was true

In [87]:
x=False
if x:
    print("yes! it was")
else:
    print('i will be printed in any case where {} is to x'.format(x));

i will be printed in any case where False is to x

In [89]:
loc='Andatra pradesh'
if loc=='Bangal':
   print("welcome")
else:
    print("sakshi")

sakshi

In [8]:
a=1
b=3
c=2
if a>b and a>c:
    print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is greater")

b is greater

In [9]:
#electricity bill
unit=3550
if(unit==200):
    print("Rs.0")
elif(unit==300):
    bill=8*unit
    print(bill)
    
elif(unit==500):
    bill=11*unit
    print(bill)
else:
    bill=14*3550
    print(bill)

49700

In [23]:
# total=int(input("enter total:"))
# savings=int(input("enter savings:"))
tax=0
total=4500000
savings=150000
if(savings<200000):
    total-=savings
    remain=total-savings
    remain=remain-1000000
    tax=remain*10/100
    remain=remain-1200000
    tax=tax+remain*20/100
    remain=remain-3000000
    tax=tax+remain*30/100
    print(tax)

#next wale questions

420000.0

In [25]:
list1=[1,2,3,4]
for num in list1:
    if(num%2==0):
        print(num)

2
4

In [39]:

n=4
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

   *
  * *
 * * *
* * * *

In [66]:
##### prime number
def primenum(num):
  
    for i in range(2,num):
        if(num%i==0):
            return False
            break
    return True        
# if(prime==1):
#     print("number is prime",num)
# else:
#     print("number is not prime",num)
num=int(input("enter a number")) 
for i in range(1,num):
    if(primenum(i)==True):
        print(i)

enter a number 5

1
2
3

In [55]:
### fibonacci number

ans=0
def fibonacci(num):
    if(num<=1):
        return num
    return fibonacci(num-1)+fibonacci(num-2)
num=int(input("enter a number"))
for i in range(0,num+1): 
    print(fibonacci(i))

enter a number 5

0
1
1
2
3
5

In [60]:
list=[1,7,5,8,3]
for i in range(0,len(list)):
    if(list[i]>list[i+1]):
        temp=list[i]
        list[i]=list[i+1]
        list[i+1]=list[i]
print(list)

IndexError: list index out of range

In [69]:
str="walchand institute of technology,solapur,Maharashtra"
count=0
for i in range(0,len(str)):
    if(str[i]=='a'or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u'):
        count+=1
print(count)

17

In [1]:

str="walchand institute of technology,solapur,Maharashtra"
for i in range(0,len(str)):
    if(i%2==0):
        print("even",str[i],end=" ")
    else:
        print("odd",str[i],end=" ")

even w odd a even l odd c even h odd a even n odd d even   odd i even n odd s even t odd i even t odd u even t odd e even   odd o even f odd   even t odd e even c odd h even n odd o even l odd o even g odd y even , odd s even o odd l even a odd p even u odd r even , odd M even a odd h even a odd r even a odd s even h odd t even r odd a

In [3]:
str="walchand institute of technology,solapur,Maharashtra"
for i in range(len(str)-1,-1,-1):
    print(str[i] ,end=" ")

a r t h s a r a h a M , r u p a l o s , y g o l o n h c e t   f o   e t u t i t s n i   d n a h c l a w

In [76]:
str="walchand institute of technology,solapur,Maharashtra"
str.split()

['walchand', 'institute', 'of', 'technology,solapur,Maharashtra']

In [6]:

def len_function(count,str):
    if(count==len(str)):
        return count
    len_function(count+1,str)    
    
count=0
len_function(count,str)
str="walchand institute of technology,solapur,Maharashtra"

In [21]:
def str_len(str,count):
  
    for i in str:
        count=count+1
    return count
str="walchand"
count=0
str_len(str,count)

8

In [30]:
def str_upper(str):
    result=''
    for i in str:
        if(i>='a' and i<='z'):
            result+=chr(ord(i)-32)
        else:
            result+=chr(ord(i)+32) 
    return result      
str="walchandINDIA institute of technology,solapur,Maharashtra" 
str_upper(str)

'WALCHANDindia@INSTITUTE@OF@TECHNOLOGYLSOLAPURLmAHARASHTRA'

In [39]:
i=1
while(i!=11):
    print(i , end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [9]:
#prime number
def check_prime(num):
    i=2
  
    while(i!=num):
        if(num%i==0):
            return False
        else:
            return True
        i+=1    
 
num=5   
for k in range(1,num+1):
    print(k ,"is" ,check_prime(k))

1 is True
2 is None
3 is True
4 is False
5 is True

In [6]:
#odd position characters
def odd_pos_char(str):
    i=0
    while(i!=len(str)):
        if(i%2!=0):
            print(i,"=",str[i],end=" ")
            
        i+=1    
      #find vowels
def find_vowels(str,vowels,count):
    for i in range(0,len(str)):
        if str[i] in vowels:
            print(str[i],end=" ")
            count+=1
    print(count ,end=" ")      
    
str="walchandINDIA institute of technology,solapur,Maharashtra"         
odd_pos_char(str)

1 = a 3 = c 5 = a 7 = d 9 = N 11 = I 13 =   15 = n 17 = t 19 = t 21 = t 23 =   25 = f 27 = t 29 = c 31 = n 33 = l 35 = g 37 = , 39 = o 41 = a 43 = u 45 = , 47 = a 49 = a 51 = a 53 = h 55 = r

In [16]:
#find vowels
def find_vowels(str,vowels,count):
    for i in range(0,len(str)):
        if str[i] in vowels:
            print(str[i],end=" ")
            count+=1
    print(count ,end=" ")      
    
str="walchandINDIA institute of technology,solapur,Maharashtra" 
vowels="aeiouAEIOU"
count=0
find_vowels(str,vowels,count)

a a I I A i i u e o e o o o a u a a a a 20

In [39]:
#sort the assending numbers
def sort_num(list):
    temp=''  
    for i in range(0,len(list)):
        for j in range(i+1,len(list)):
            if(list[i]>list[j]):
                temp=list[i]
                list[i]=list[j]
                list[j]=temp
    print(list)  
    
list=[7,8,9,5,3]
sort_num(list)

[3, 5, 7, 8, 9]

In [2]:
#sort  number decending
def sort_num_dec(list):
    temp=''
    for i in range(0,len(list)):
        for j in range(i+1,len(list)):
            if(list[i]<list[i+1]):
                temp=list[i]
                list[i]=list[i+1]
                list[i+1]=temp
   print(list)
list=[1,8,7,6]
sort_num_dec(list)

<class 'list'>

In [9]:
class car:
    def __init__(self,modelname,year):
       self.modelname=modelname
       self.year=year
    def display(self):
       print(self.modelname,self.year)
c1=car("toyota",2016)
c1.display()

toyota 2016

In [10]:
class vehicle:
    def __init__(self,makemodelname,modelyear):
        self.makemodelname=makemodelname
        self.modelyear=modelyear
    def display(self):
        print(self.makemodelname,self.modelyear)
v1=vehicle("seeza",2001)
v1.display()

seeza 2001

In [31]:

    list=["A","B","C","D","E"]
    list.append("F")
    print(list)
    list.pop(1)
    print(list)

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'C', 'D', 'E', 'F']

In [33]:
class library:
  
    def __init__(self,book1,idx):
        self.book1=book1
        self.idx=idx
    def getbooks(self):
        list.append(self.book1)
    def removebooks(self):
        list.pop(self.idx)
l1=library("sakshi",1)    
l1.getbooks()
l1.removebooks()
print(list)

['A', 'E', 'F', '', 'sakshi']

In [40]:
class Dog:
    attr1="mammal"
    def __init__(self,name):
        self.name=name
    def speak(self):
        print("My name is {}".format(self.name))
Rodger=Dog("Rodgersds")
Tommy=Dog("Tommy")
print(Rodger.name)
print(Tommy.name)
Rodger.speak()

Rodgersds
Tommy
My name is Rodgersds

In [48]:
def even_list(list):
    even_l=[]
    for i in list:
        if(i%2==0):
            even_l.append(i)
        else:
            pass
    print(even_l)        
list=[5,4,8,9,3,4,2]            
even_list(list)

[4, 8, 4, 2]

In [54]:
class Person(object):
    def __init__(self,name,idnumber):
        self.name=name
        self.idnumber=idnumber
    def display(self):
        print(self.name)
        print(self.idnumber)
    def details(self):
        print("My name is {}".format(self.name))
        print("Idnumber is {}".format(self.idnumber))
class Employee(Person):
    def __init__(self,name,idnumber,salary,post):
        self.salary=salary
        self.post=post
        Person. __init__(self,name,idnumber)#invoking __init__parent class
    def details(self):
        print("My name is {}".format(self.name))
        print("Idnumber is {}".format(self.idnumber))
        print("post {} ".format(self.post))
a=Employee("rahul",56,45,"inetern")
a.display()
a.details()

rahul
56
My name is rahul
Idnumber is 56
post inetern

In [72]:
class Dad(object):
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
       print(self.name)
       print(self.age)
    def details(self):
       print("my name is {} ".format(self.name)
class Mom(object):
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
       print(self.name)
       print(self.age)
    def details(self):
       print("my name is {} ".format(self.name)
 class Child(Dad,Mom):
      def __init__(self,name,age,height,std):
          self.height=height
          self.std=std
          Dad. __init__(self,name,age)
          Mom. __init__(self,name,age)
      def display(self):
          print("my name is {}".format(self.name))  
          print("idnumber is {} ".format(self.idnumber))
c=Child("sakshi",45,4.5,3)
c.display()
c.details()

SyntaxError: invalid syntax (712633817.py, line 10)

In [85]:
class Number:
    def __init__(self,num):
        self.num=num
    def palindrome(self):
        d=self.num
        ans=0
        while(self.num!=0):
            ans=self.num%10+ans*10
            self.num//=10
    if(d==ans):
        print("palindrome")
    else:
        print(" not palindrome")
    def prime(self):
        for i in range(2,num):
            if(self.num%2==0):
                return False
            else:
                return true
    def fibonassi(self):
        if( self.num<=1):
            return self.num
        return fibonassi(self.num-1)+fibonassi(self.num-2)
a=Number(10)
a.palindrome()
a.prime()
a.fibonassi()
a.fibonassi()

palindrome

0

In [82]:
num=121
d=num
ans=0
while(num!=0):
    ans=num%10+ans*10
    num//=10


if(d==ans):
    print("palindrome")
else:
    print(" not palindrome")

palindrome

In [7]:
#write program takes 3num and calculate non-duplicate numbers
#if threre are duplicate numbers in input ignore them 
num1=int(input("enter a number:"))
num2=int(input("enter a number:"))
num3=int(input("enter a number:"))
add=0
if(num1==num2 and num2==num3):
    add=0
    print(add)
elif(num1==num2):
    add=num3
    print(add)    
elif(num1==num3):
    add=num2
    print(add)
elif(num2==num3):
    num
    print(add)
else:
    add=num1+num2+num3
    print(add)

enter a number: 3
enter a number: 3
enter a number: 6

6

In [ ]:
list=[1,3,6,6,89,3]
.count

In [14]:
#print no of  occurences of character in string:
str=input("enter a string")
count=1
for i in range(0,len(str)-1):
    for j in range(i+1,len(str)):
        if(str[i]==str[j]):
            count+=1
        else:
            print(str[i],count)
            count=0

enter a string walchandsctcgc

w 1
w 0
w 0
w 0
w 0
w 0
w 0
w 0
w 0
w 0
w 0
w 0
w 0
a 0
a 0
a 0
a 1
a 0
a 0
a 0
a 0
a 0
a 0
a 0
l 0
l 0
l 0
l 0
l 0
l 0
l 0
l 0
l 0
l 0
l 0
c 0
c 0
c 0
c 0
c 0
c 1
c 1
h 1
h 0
h 0
h 0
h 0
h 0
h 0
h 0
h 0
a 0
a 0
a 0
a 0
a 0
a 0
a 0
a 0
n 0
n 0
n 0
n 0
n 0
n 0
n 0
d 0
d 0
d 0
d 0
d 0
d 0
s 0
s 0
s 0
s 0
s 0
c 0
c 1
t 1
t 0
t 0
c 0
g 1

In [10]:
import random
password=""
for i in range(0,8):
    new=chr(random.randint(1,100))
    password+=new
            
print(password)

 WcLBC

In [18]:
num=int(input("enter a number:"))
if(num%3==0 and num%5==0):
        print("fizzbuzz")
elif(num%3==0):
        print("fizz")
elif(num%5==0):
        print("buzz")

enter a number: 15

fizzbuzz

In [9]:
import random
list=["stone","paper","scissor"]
guess=random.choice(list)
user_in=input("enter stone/paper/scissor")
if(guess=="stone"):
    if(user_in=="paper"):
        print("you lost bz guess is stone")
    elif(user_in=="stone"):
        print("draw")
    else:
        print("you lost bz guess is stone")
elif(guess=="paper"):
    if(user_in=="stone"):
        print("you win bz guess is paper")
    elif(guess=="scissor"):
        print("you win bz guess is scissor")
    else:
        print("draw")
elif(guess=="scissor"):
    if(user_in=="paper"):
        print("you lost bz guess is scissor")
    elif(user_in=="stone"):
        print("you win bz guess is stone")
    else:
        print("draw")

enter stone/paper/scissor paper

you lost bz guess is scissor